@charset "UTF-8";
/*UTILS*/
/**
#212121 - цвет навигации и заголовка - главный текст
#757575 - цвет телефона и мыла, текста - второстипенный
#2F303A - цвет фона для секции героя
#F5F4FA - цвет фона второстипенный, светлого серого
#E5E5E5 - цвет фона главный
**/
/*variants */
:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --main-text-col: #212121;
  --second-text-col: #757575;
  --white-text: #FFFFFF;
  --ground-color: #2F303A;
  --accent2-color: #F5F4FA;
  --ground-main-color: #E5E5E5;
  --icon-color: #AFB1B8;
  --trans-duration: 250ms;
  --trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ......FOR HIDE ELLEMENTS...... */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*BASE*/
body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer .container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .container {
    padding-top: 20px;
    padding-bottom: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    /*...footer center...*/
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}

/*COMPONENTS*/
/*...MAIN LINK/LOGO...*/
.web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .web {
    font-size: 26px;
    line-height: 1.192;
  }
}

.studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
}

.studio-footer {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

@media screen and (min-width: 1200px) {
  .studio-footer {
    font-size: 26px;
    line-height: 1.192;
  }
}

@media screen and (min-width: 1200px) {
  .studio {
    font-size: 26px;
    line-height: 1.192;
  }
}

/*... END MAIN LINK/LOGO...*/
@media screen and (max-width: 767px) {
  .mltel-list {
    display: none;
  }
  .mobile-menu .mltel-list {
    display: block;
    margin-top: 300px;
    margin-bottom: 64px;
  }
  .mobile-menu .mltel-list-item:nth-child(1) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
  }
  .mobile-menu .mltel-list-item:nth-child(1) .mltel-list-link {
    color: var(--accent-color);
  }
  .mobile-menu .mltel-list-item:nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .mobile-menu .mltel-list-item:nth-child(2) .mltel-list-link {
    color: var(--second-text-col);
  }
}

@media screen and (min-width: 768px) {
  .mltel-list {
    display: flex;
    margin-left: auto;
    /*mltel-list-link*/
  }
  .mltel-list-link {
    transition: color var(--trans-duration) var(--trans-time-func);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--second-text-col);
    display: flex;
    align-items: center;
    fill: var(--second-text-col);
    /*mltel-list-link:hover, :focus*/
  }
  .mltel-list-link:hover, .mltel-list-link:focus {
    color: var(--accent-color);
  }
  .logo-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill var(--trans-duration) var(--trans-time-func);
  }
  .mltel-list-link:hover .logo-mail,
  .mltel-list-link:focus .logo-mail {
    fill: var(--accent-color);
  }
  .logo-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill var(--trans-duration) var(--trans-time-func);
  }
  .mltel-list-link:hover .logo-phone,
  .mltel-list-link:focus .logo-phone {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mltel-list {
    display: flex;
    flex-direction: column;
  }
  .mltel-list-item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mltel-list {
    align-items: center;
  }
  .mltel-list-link {
    padding: 32px 0px;
  }
  .mltel-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

/*...TITLE FOR WORK AND TEAM...*/
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-col);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.social-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  /*social-list-link*/
  /*social-list-icon*/
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--trans-duration) var(--trans-time-func);
  /*social-list-link:hover,:focus*/
  /*footer social-list-link*/
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  /*footer social-list-link:hover,:focus*/
}

.footer .social-list-link:hover:hover,
.footer .social-list-link:hover:focus, .footer .social-list-link:focus:hover,
.footer .social-list-link:focus:focus {
  background-color: var(--accent-color);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trans-duration) var(--trans-time-func);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--trans-duration) var(--trans-time-func);
  /*social-list-link:hover,:focus + social-list-icon*/
  /*footer social-list-icon*/
  /*footer .social-list-link:hover,:focus .social-list-icon*/
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-text);
}

.footer .social-list-icon {
  fill: var(--white-text);
}

.footer .social-list-link:hover .social-list-icon,
.footer .social-list-link:focus .social-list-icon {
  fill: var(--white-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--trans-duration) var(--trans-time-func);
}

.backdrop.is-hidden {
  opacity: 0;
}

.modal-wnd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100vh;
  padding: 40px;
  overflow-y: scroll;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--trans-duration) var(--trans-time-func);
}

@media screen and (min-width: 480px) {
  .modal-wnd {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal-wnd {
    overflow-y: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wnd {
    width: 530px;
    height: 590px;
  }
}

.backdrop.is-hidden .modal-wnd {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-btn:focus {
  outline: none;
}

.close-btn-icon {
  width: 18px;
  height: 18px;
  transition: fill var(--trans-duration) var(--trans-time-func);
}

.modal-close-btn:focus .close-btn-icon {
  fill: var(--accent-color);
}

.mobile-menu .close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-close:focus .close-btn-icon {
  fill: var(--accent-color);
}

/* ...form-title... */
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-col);
}

/* .....FORM..... */
.modal-form {
  display: flex;
  flex-direction: column;
  /*.modal-form-label*/
  /*modal-form-input*/
  /*modal-form-message*/
  /*modal-form-policy-wrapper*/
  /*modal-form-label-policy*/
  /*modal-form-btn*/
}

.modal-form-input-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--second-text-col);
}

.modal-form-input-label:last-of-type {
  margin-bottom: 0;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border-color var(--trans-duration) var(--trans-time-func);
  /*modal-form-input:focus*/
  /*modal-form-input-wrapper*/
  /*modal-form-input-icon*/
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--trans-duration) var(--trans-time-func);
  /*modal-form-input:focus + modal-form-input-icon*/
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border-color var(--trans-duration) var(--trans-time-func);
  /*modal-form-message::placeholder*/
  /*modal-form-message:focus*/
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-policy-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--second-text-col);
  /*modal-form-label-policy::before*/
}

@media screen and (min-width: 1200px) {
  .modal-form-label-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url("../images/icons/box-check-icon.svg");
  background-color: var(--white-text);
  transition: background-image var(--trans-duration) var(--trans-time-func), background-color var(--trans-duration) var(--trans-time-func);
  /*modal-form-check-policy:checked + modal-form-label-policy::before*/
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: var(--accent-color);
  background-image: url("../images/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-btn {
  padding: 10px 55px;
  margin: 0 auto;
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text);
}

/*LAYOUTS*/
/*..................HEADER FOR ALL PAGES.........................*/
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
  }
  .burger-btn:focus .burger-icon {
    fill: var(--accent-color);
  }
  .mobile-menu {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    transform: translateX(-50%) translateY(-100%);
    transition: transform var(--trans-duration) var(--trans-time-func);
    background-color: var(--white-text);
    /*mobile-menu-close*/
    /*mobile-menu-social*/
  }
  .mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .mobile-menu-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .mobile-menu-social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile-menu-social-link {
    margin-right: 10px;
    color: var(--accent-color);
  }
  .mobile-menu-social-link + span {
    margin-right: 10px;
    margin-left: 0;
    color: rgba(33, 33, 33, 0.2);
  }
  .mobile-nav-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  /*mobile-nav-lin*/
  .mobile-nav-link {
    color: var(--main-text-col);
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0);
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .main-nav .main-link {
    margin-right: 95px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    /*nav-list-item:not...*/
    /*nav-list-link*/
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-link {
    position: relative;
    padding: 32px 0px;
    transition: color var(--trans-duration) var(--trans-time-func);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-text-col);
    /*nav-list-link:hover, :focus*/
  }
  .nav-list-link:hover, .nav-list-link:focus {
    color: var(--accent-color);
  }
}

/*...current color for active page...*/
.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.hero {
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*hero-title*/
  /*hero-modal-btn*/
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero-modal-btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  margin-right: auto;
  margin-left: auto;
  /*hero-modal-btn:hover,:focus*/
}

.hero-modal-btn:hover, .hero-modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desk.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desk@2x.jpg);
  }
}

.strengths {
  /*strengths-image*/
  /*strengths-icon*/
  /*strengths-list*/
}

@media screen and (max-width: 1199px) {
  .strengths {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .strengths {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.strengths-image {
  background-color: var(--accent2-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .strengths-image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .strengths-image {
    width: 270px;
  }
}

.strengths-icon {
  width: 70px;
  height: 70px;
}

.strengths-list {
  display: block;
  /*strengths-list-item*/
}

@media screen and (min-width: 768px) {
  .strengths-list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .strengths-list {
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.strengths-list-item {
  width: 100%;
  /*strengths-list-item:not...*/
  /*strengths-list-item-title*/
  /*strengths-list-item-description*/
}

@media screen and (min-width: 768px) {
  .strengths-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .strengths-list-item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .strengths-list-item:not(:nth-child(n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .strengths-list-item {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .strengths-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .strengths-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.strengths-list-item-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-col);
}

@media screen and (min-width: 768px) {
  .strengths-list-item-title {
    width: 100%;
    text-align: left;
  }
}

.strengths-list-item-descr {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-col);
  text-align: left;
}

/*..........PROFESSION - ЧЕМ ЗАНИМАЕМСЯ..........*/
.profession {
  padding-bottom: 95px;
  /*profession-list*/
  /*profession-img-description*/
}

@media screen and (max-width: 1199px) {
  .profession {
    display: none;
  }
}

.profession-list {
  display: flex;
  align-items: center;
  /*profession-list-item:not...*/
  /*profession-list-img-thumb*/
}

.profession-list-item:not(:last-child) {
  margin-right: 30px;
}

.profession-list-img-thumb {
  position: relative;
}

.profession-img-descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.team {
  background-color: var(--accent2-color);
  padding-bottom: 60px;
  padding-top: 60px;
  /*контейнер для падингов для карточек НАША КОМАНДА*/
  /*team-list*/
  /*team-item-title*/
  /*team-item-descr*/
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 95px;
    padding-top: 95px;
  }
}

.team-pad {
  padding: 30px 32px;
}

.team-list {
  display: flex;
  /*team-list-item*/
}

@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list-item {
  width: 100%;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
    height: 542px;
  }
  .team-list-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
    height: 428px;
    /*team-list-item:not...*/
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-col);
}

.team-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-col);
}

/*...OUR CLIENTS...*/
.clients {
  padding: 60px 0;
  /*clients-list*/
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 95px 0;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  /*clients-list-item:not...*/
  /*clients-list-link*/
  /*clients-list-icon*/
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list-item {
    margin: 15px;
    width: calc(100%-4*15/2);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list-item {
    margin: 15px;
    width: calc(100%-6*15/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-func);
  /*clients-list-link:hover, :focus*/
}

.clients-list-link:hover, .clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-icon {
  fill: var(--icon-color);
  transition: fill var(--trans-duration) var(--trans-time-func);
  /*clients-list-link:hover, :focus .clients-list-icon*/
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

/*..........FOOTER FOR ALL PAGES..........*/
.footer {
  background-color: var(--ground-color);
  padding: 60px 15px;
  /*footer - title*/
  /*footer-right*/
}

@media screen and (max-width: 1199px) {
  .footer-left {
    display: block;
    margin-bottom: 60px;
  }
  .footer-left .main-link {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    margin-right: 165px;
  }
}

@media screen and (min-width: 768px) {
  .footer-thumb {
    display: flex;
    align-items: baseline;
  }
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-title {
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-left: 93px;
  }
}

.contacts {
  font-style: normal;
  margin-top: 20px;
  text-align: center;
  /*contacts-list-item:not...*/
  /*contacts-position-link*/
  /*contacts-mail/tel-link*/
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
    text-align: left;
  }
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts-position-link {
  display: inline-block;
  min-width: 230px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.contacts-mail-link, .contacts-tel-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription {
  /*subscription-form*/
  /*subscription-email*/
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    align-items: center;
  }
}

.subscription-thumb {
  display: flex;
  justify-content: center;
}

.subscription-email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-text);
  /*subscription-email::placeholder*/
}

.subscription-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .subscription-email {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-email {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.sb-btn-submit {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  border-width: 0;
  background-color: var(--accent-color);
  /*sb-btn-submit-title*/
  /*sb-btn-submit-icon*/
}

@media screen and (max-width: 1199px) {
  .sb-btn-submit {
    margin: 0 auto;
  }
}

.sb-btn-submit-title {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text);
}

.sb-btn-submit-icon {
  width: 24px;
  height: 24px;
}

/*.......... END FOOTER..........*/
/*# sourceMappingURL=main.css.map */