// .hero {
//   width: 480px;
//   height: 320px;
//   background-image: url("photo.png");
//   background-size: cover;
// }
    
.hero {
    padding: 200px 0;
    
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
   

    /*hero-title*/
    &-title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-text);
    
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.364;
        }
    }

    /*hero-modal-btn*/
    &-modal-btn {
        min-width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: var(--accent-color);
        border: 0px;
    
        cursor: pointer;
        padding: 10px 30px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--white-text);
        
        margin-right: auto;
        margin-left: auto;

        /*hero-modal-btn:hover,:focus*/
        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            background-color: var(--accent-color);
            border: 0px;
        }
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mobile@2x.jpg);
  }
}
    
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet.jpg);
  }
}
    
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet@2x.jpg);
  }
}
    
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk.jpg);
  }
}
    
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk@2x.jpg);
  }
}