.strengths {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 95px;
        padding-bottom: 95px;
    }
    

    /*strengths-image*/
    &-image {
        background-color: var(--accent2-color);
        border-radius: 4px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 120px;
        margin-bottom: 30px;


        @media  screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    /*strengths-icon*/
    &-icon {
        width: 70px;
        height: 70px;
    }

    /*strengths-list*/
    &-list {
        display: block;

        @media screen and (min-width: 768px) {
            display: flex;
            margin: -15px;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            align-items: center;
            flex-wrap: nowrap;
            margin: 0;
        }
        /*strengths-list-item*/
        &-item {
            width: 100%;

            @media screen and (min-width: 768px) {
                width: 354px;
            }

            @media screen and(min-width: 768px) and (max-width:1199px) {
                
                &:nth-child(2n+1) {
                    margin-right: 30px;
                }
                &:not(:nth-child(n+2)) {
                    margin-bottom: 30px;
                }
            }

            @media screen and (min-width:1200px) {
                width: 270px;
            }

            /*strengths-list-item:not...*/
            &:not(:last-child) {
                @media screen and (max-width: 767px) {
                    margin-bottom: 30px;
                }
                

                @media screen and (min-width: 1200px) {
                    margin-right: 30px;
                }
            }
            /*strengths-list-item-title*/
            &-title {

                margin-bottom: 10px;
                text-align: center;

                font-weight: 700;
                font-size: 14px;
                line-height: 1.143;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var(--main-text-col);

                @media screen and (min-width:768px) {
                    width: 100%;
                    text-align: left;
                }

            }
            /*strengths-list-item-description*/
            &-descr {
                width: 100%;

                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: var(--second-text-col);

                text-align: left;
            }
        }
    }
}