/*...FILTER BUTTONS...*/
.filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: left;

    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: center;
    }

    @media screen and (max-width: 767px) {
        // &-item:not(:nth-child(n+4)) {
        //     margin-bottom: 15px;
        // }
        /*сделал всем кнопкам марджин-ботом, чтоб когда видс меньше 480 
        и кнопки становяться уже не так как на макете, чтоб было все красиво
        оставляю предедущий код для сравнения*/
        
        &-item {
            margin-bottom: 15px;
        }
    }

    &-item:not(:last-child) {
        margin-right: 10px;
    }
}
.filter-btn {
    background-color: var(--accent2-color);
    border-radius: 4px;
    border: 0px;

    padding: 5px 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-col);

    transition: background-color var(--trans-duration) var(--trans-time-func),
        color var(--trans-duration) var(--trans-time-func),
        box-shadow var(--trans-duration) var(--trans-time-func);
    
    
    &:hover,
    &:focus {
        color: var(--white-text);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: 0px;
        cursor: pointer;
        }
}
