.container {
    width: 100%;
    padding: 0 15px;
    
    .header & {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            justify-content: space-between;
        }
        
    }
    @media screen and (min-width: 480px) {
            width: 480px;
            margin: 0 auto;    
    }


    @media screen and (max-width: 767px) {
        .footer & {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
            width: 768px;
            margin: 0 auto;
    }
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    .header .container {
        padding-top: 20px;
        padding-bottom: 19px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1200px; 
        
        /*...footer center...*/
        .footer & {
            display: flex;
            align-items: baseline;
        } 
        
        .header & {
            display: flex;
            align-items: center;
        }
    }
}